<div>
    <h2>Edit Location</h2>
    <form (ngSubmit)="EnviarDatos()">
      <label for="locationName">Location Name:</label>
      <input type="text" id="locationName" name="locationName" [(ngModel)]="location.name" required> <br>


      <label for="city">City:</label>
      <input [(ngModel)]="location.city" type="text" id="city" name="city" required> <br>

      <label for="state">State:</label>
      <input type="text" id="state" name="state" [(ngModel)]="location.state" required> <br>

      <label for="photo">Image:</label>
      <input type="text" id="photo" name="photo" [(ngModel)]="location.photo" required> <br>
    
      <label for="availableUnits">Avaliable units:</label>
      <input type="text" id="availableUnits" name="availableUnits" [(ngModel)]="location.availableUnits" required> <br>

      <label for="wifi">Wifi:</label>
      <input type="text" id="wifi" name="wifi" [(ngModel)]="location.wifi" required> <br>

      <label for="laundry">laundry:</label>
      <input type="text" id="laundry" name="laundry" [(ngModel)]="location.laundry" required> <br>

      <button class="primary" type="submit">Submit</button>
    </form>
</div>

